$num: 10px;
$char: "arial";
$list: 10px 20px 30px;
$map:("reg": 400, "med":500);

// variable exists che ke nahi true ka to false aav se
.exists{
    padding: variable-exists(num);
}

// variable global che aama selecter ni anadar hoy to false aave ane bahar hoy to true aave
$num1: 10px;
.global{
    padding: global-variable-exists(num1);
}

// variable mixin--> etle aapde agari joyu e bathama use thay to proparty marge karva te. aama mixin hoy to true kato fauls aave

@mixin mixin {
    border-radius: 50px;
}
.mixin{
    padding: mixin-exists(mixin);
}

// aa che function aa uper jevu se upar mixin hato aama fungtion che fungction hoy to true aave ane ni hoy to false aave
@function add($a, $b){
@return $a + $b;
}
.function{
    padding: function-exists(d);
}

// aa type-of function che ane aama fungtion nu type khabar pade number string ke je hoy te. aama varible aakhu aaapa nu example $num
.type{
    padding: type-of($num);
}

// aama je value hay te print kare ane fulse hoy to je aape type kare lu hoy te aapi de
.inspect{
    padding: inspect(null);
}
 

// aatle thi content directive start thay
@mixin content($value){
    --webkit-border-radius:$value;
    --moz-border-radius:$value;
    border-radius: $value;
    @content;
}

// aa ma aapadathi vathare inclued karvu hoy to thase but ; kadva nu ane {} ma proparty nathava ni ane ; close kar va nu. ne @mixin ma @content; lakhava nu.
.content{
    @include content(5px)
    {
        background: #000;
    };
    border-style: 1px ;
    border-style:dashed;
}

// pachi aap de aatho class aarite moklavo hoy to  aarite thase mixin ma khali content aap nu ane ane pache mixin name thi include kari aakho class apla che.
@mixin content1{
    @content;
}
@include content1{
    .bg{
        background: #000;
    };
};

// pachi aaj rite containt na under selecter aapi include ne ciled aappo hoy to aaarite thase aa output--> #bgid .bgclass aavu aav se
@mixin content1{
    #bgid{
        @content;
    };
};
@include content1{
    .bgclass{
        background: #000;
    };
};



// pachi aaj rite aa pede sudo class ma karvu hoy to --> soudo class etle :hover ne e bathu : start thay te. ema aari te kari sake
@mixin content1{
    .bgclass{
        @content;
    };
};
@include content1{
    &:hover{
        background: #000;
    };
};

// aano aapde media qvery ma pan use kari sake 
body{
    background: white;
}
/*
@media screen and (max-width: 1300px){
body {
    background: red;
}
}

@media screen and (max-width: 1000px){
body {
    background: green;
}
}

@media screen and (max-width: 700px){
body {
    background: yellow;
}
}
*/

// have aavi re media qvery ma use thase 

@mixin media($max, $min){
@media screen and (max-width:  $max) and (min-width:  $min){
    @content;
    }
}

// uper varible aapi ne worck thase 
@include media(750px, 350px){
body{
    background: red !important;
}
}

@include media(1500px,750px){
    body{
        background: green ;
    }
}

/* atle have @media directives start thay che. aama aapde selecter aapi jeva no ane pachi ena niche media qvary nakhe to otoma tic proparty set thay jay che example --> .conatiner {
  width: 1100px;
  margin: 0px auto;
}
@media only screen and (max-width: 1150px) {
  .conatiner {
    width: 550px;
  }
}
@media only screen and (max-width: 550px) {
  .conatiner {
    width: 800px;
  }
}
  aavi rite
*/

.conatiner{
    width: 1100px;
    margin: 0px auto;

    @media only screen and (max-width:1150px){
        width: 550px;
    }
    @media only screen and (max-width:550px){
        width: 800px;
    }
};

// have @at-root start thay che 